* {
  /* selects all elements, almost like boilerplate to reset html */
  margin: 0; /* used to create space around elements */
  padding: 0; /* used to create space around an element's content */
  box-sizing: border-box; /* allows us to include padding and border in an elements width and height */
}
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #eee;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #61174b,
    #bc1c4c,
    #d32052,
    #bc1c4c,
    #61174b
  );
  background-size: cover;
}
section {
  padding: 6rem 0; /* rem is relative to the font-size of the root element, em is relative to font-size of particular element */
}
a {
  text-decoration: none; /* , normally a tags have underlines, text decoration:none makes it not show */
  color: #eee;
}
p {
  font-size: 1.8rem;
  font-weight: 300; /* sets thickness of characters in text */
}
img {
  width: 75%;
  border-radius: 18px;
}
header {
  width: 100%;
  height: 100vh; /* vh is relative to 1% of the height of the viewport */
}
.nav-list {
  list-style: none;
  width: 100%;
  margin-top: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none; /* allows you to set all the list style properties at once, none makes it not appear */
  width: 100%;
  height: 60%;
  display: flex; /* specifies display behavior, flex displays as a block-level container*/
  justify-content: center; /* aligns flexible container's items, center is aligning at the center */
}
li {
  margin: 0 2rem;
}
.nav-link {
  font-family: sans-serif;
  font-size: 5rem;
  padding: 1rem;
}
.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(
    to top,
    #ffe838,
    #fd57bf
  ); /* linear-gradient creates progressive transition between two or more colors */
  -webkit-background-clip: text; /* sets whether an element's background extends underneath its border box, padding box, or content box */
  -webkit-text-fill-color: transparent; /* specifies the fill color of characters of text */
}
.menu-toggler {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
}
header .nav-list.active {
  width: 100%;
  height: 110%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  background-color: #16162d;
  transition: all 650ms cubic-bezier(0, 0, 0, 1.5);
  opacity: 0.9;
}

.menu-toggler .bar {
  background: linear-gradient(to right, #ffe838, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}
.landing-text {
  position: absolute; /*positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed)*/
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*lets you rotate, scale, skew, or translate an element*/
  width: 100%;
  text-align: center;
  z-index: 1;
}
.landing-text h1 {
  font-size: 23rem;
  font-family: Brush Script MT;
  /* background: linear-gradient(to top, #f5de34, #f754bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  padding: 5rem;
  margin-top: -25rem;
  user-select: none; /*specifies whether the text of an element can be selected*/
  text-shadow: 0 0 10px #f5de34, 0 0 20px #f5de34, 0 0 40px #f5de34,
    0 0 80px #f5de34, 0 0 120px #f5de34; /*testing out neon colors*/
  -webkit-box-reflect: below -0.6em linear-gradient(transparent, white);
}
.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: -10rem;
  -webkit-box-reflect: below 0.8em linear-gradient(transparent, white);
}
.about .container {
  display: flex; /* displaying in-line flex */
  align-items: center;
  justify-content: center;
}
.about-heading {
  text-align: center;
  text-transform: uppercase; /* changes all text to uppercase */
  line-height: 0;
  margin-bottom: 6rem;
}
.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}
.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}
.profile-img {
  flex: 1;
  margin-right: 0rem;
}
.profile-pic {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.profile-pic:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.about-details {
  flex: 1; /* sets how a flex item will grow or shrink to fit the space available in its flex container */
}

.social-media .nav-list {
  display: flex;
  position: absolute;
  top: 350%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-media ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
.social-media ul li a .icon {
  position: relative;
  color: #262626;
  transition: 1s;
  z-index: 3;
}

.social-media ul li a:hover .icon {
  margin-left: -2.5rem;
  margin-top: 0.965rem;
  position: absolute;
  color: #fff;
  transform: rotate(360deg);
}
.social-media ul li a:before {
  content: ""; /* not actually selecting anything that exists on the page but adding something new to the page */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 1s;
  z-index: 2;
}
.social-media ul li a:hover:before {
  top: 0;
}
.social-media ul li:nth-child(1) a:before {
  background: linear-gradient(to top, #036ce4, #18aafd);
}
.social-media ul li:nth-child(2) a:before {
  background: linear-gradient(to top, #0e76a8, #18aafd);
}
.social-media ul li:nth-child(3) a:before {
  background: linear-gradient(to top, #211f1f, #272b33);
}
.my-skills {
  margin-top: 10rem;
}
.container {
  width: 90%;
  max-width: 120rem;
  height: 0%;
  margin: 0 auto;
  position: relative;
  margin-top: 8rem;
}
.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}
.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}
.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(33rem, 1fr)
  ); /* fr stands for fraction */
  grid-gap: 2.5rem;
  text-align: center;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.skill h1 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}
.icon-container {
  width: 10rem;
  height: 10rem;
  border: 2.5px solid #f5de34;
  background-color: #16162d;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}
.icon-container i {
  color: #ffe838;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg); /* rotates the actual element by -45deg */
}

.timeline ul {
  border-left: 4px solid #f5de34;
  border-right: 4px solid #f5de34;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 60%;
}
.timeline h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2rem;
  opacity: 0.6;
}
.links:hover {
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.timeline .project {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.timeline .project:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .project::before,
.timeline .project::after {
  /*allows you to insert content onto a page without it needing to be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is*/
  position: absolute;
  display: block;
  top: 25%;
  transform: translateY(-50%); /* shifts the element along the Y axis by -50% */
}
.timeline .project::before {
  content: attr(
    data-project
  ); /* used with the ::before and ::after pseudo-elements, attr() i used to insert generated content.*/
  left: -25rem;
  text-align: right;
  min-width: 15rem;
  font-size: 2rem;
}
.timeline .project::after {
  content: "";
  box-shadow: 0 0 0 4px #16162d;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}
.contact {
  background-color: #221e3f;
}
.end {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem;
  position: relative;
}
.up {
  position: fixed;
  width: 5rem;
  height: 5rem;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  /* top: 64.5rem; */
  bottom: 5%;
  right: 2%;
  border-radius: 100%;
  display: none;
  /* animation: pulse 2s infinite; sets animation, pulse is down below, infinite loops */
  cursor: pointer;
}
.up::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #000;
  border-radius: 100%;
}
.up::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(45deg, transparent, transparent 50%, #e5f403);
  border-radius: 100%;
  z-index: 1;
  /* z-index: 1; */
  /* filter: blur(30px); */
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.up i {
  position: relative;
  padding-top: 25%;
  color: #c2cc34;
  font-size: 2.2rem;
  margin: auto;
  z-index: 2;
}
.end p {
  font-size: 1.4rem;
}
/* @keyframes pulse { */
/* controls the intermediate steps in an animation sequence for pulse */
/* 0% {
    box-shadow: 0 0 0 0 #f754bb;
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 #f754bb;
  }
} */
::-webkit-scrollbar {
  background: linear-gradient(to top, #16162d, #a92251, #16162d);
}
::-webkit-scrollbar-thumb {
  background: #16162d;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: #16162d;
}
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
@media screen and (max-width: 768px) {
  /* changes the properties of elements dependent on browswer window size */
  body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      to right,
      #61174b,
      #bc1c4c,
      #d32052,
      #bc1c4c,
      #61174b
    );
  }
  .landing-text h1 {
    margin-top: -5rem;
    font-size: 8rem;
  }
  .menu-toggler {
    transform: scale(20%);
    flex-direction: column;
    height: 10vh;
    align-items: center;
  }
  .nav-link {
    font-size: 1rem;
    width: 100%;
    padding: 0;
  }
  .landing-text h6 {
    margin-top: -3rem;
    font-size: 1.5rem;
  }
  .about-heading h1 {
    font-size: 8rem;
  }
  .section-heading h1 {
    font-size: 3rem;
  }
  .about-details nav-list {
    flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container i {
    font-size: 4rem;
  }
  .timeline ul {
    margin: 0 3.2rem 0 auto;
  }
  .timeline .project:before {
    left: -25rem;
  }
  .timeline .project:after {
    left: -8rem;
  }
}
@media screen and (max-width: 600px) {
  .landing-text h1 {
    margin-top: -12.5rem;
    font-size: 8rem;
    font-family: Brush Script MT;
  }
  .landing-text h6 {
    margin-top: -4.5rem;
    font-size: 1.5rem;
  }
  .menu-toggler {
    transform: scale(20%);
    flex-direction: column;
    height: 10vh;
    align-items: center;
  }
  .nav-link {
    font-size: 2.5rem;
    width: 100%;
    padding: 0;
  }
  .about .container {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 5rem 0;
  }
  .profile-img {
    margin: 2rem 0 2rem 7.5rem;
    order: 1;
  }
  .timeline p {
    font-size: 1.6rem;
  }
  .timeline .project::before {
    font-size: 1.3rem;
    left: -24rem;
  }
  .up {
    right: 2rem;
  }
  .social-media .nav-list {
    position: relative;
    margin-bottom: 20%;
    transform: scale(0.75);
    width: 0;
  }
}
